.upload {
  float: right;
}

.sign {
  float: left;
  margin-left: 25px;
}

.image {
  margin: auto;
  border: solid 1px red;
  float: left;
  margin-left: 25px;
}

.spin {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.step {
  marginBottom: 60;
  boxShadow: '0px -1px 0 0 #e8e8e8 inset';
}