.green {
  background: #e5ffe4;
}

.lime {
  background: #e7ffd1;
}

.gold {
  background: #ffefca;
}

.orange {
  background: #ffdccb;
}

.red {
  background: #ffdcef;
}

.ControlPanel {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 10px;
}
